<html>
<head>
	<title>Best of map</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.1">
	<link rel="stylesheet" href="<%-style%>">
	<style>body { background-image: white };</style>
</head>
<body>
	<h3>Changelog:</h3>
	* Support Polish language, google translate
	* toggle_beep - console command to disable sound when players finishing
	* 
</body>
</html>