<html>
<head>
	<title>Best of map</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.1">
	<link rel="stylesheet" href="<%-style%>">
	<style>body { background-image: white };</style>
</head>
<body>
	<h3>Changelog:</h3>
	* Support Polish language, google translate </br>
	* toggle_beep - console command to disable sound when players finishing</br>
	* Added ~18 maps from meowkatozz</br>
		speedrun_hb_ora-upania</br>
		speedrun_ramp-master</br>
		speedrun_lovehardporn</br>
		speedrun_mnogo-strafe</br>
		speedrun_fpsmeowkatoz</br>
		speedrun_noideaforname</br>
		speedrun_zxcursed</br>
		speedrun_sup</br>
		speedrun_freedom</br>
		speedrun_shust</br>
		speedrun_nota_2</br>
		speedrun_nota</br>
		speedrun_obz4cts</br>
		speedrun_fr33d0m_fix</br>
		speedrun_for_sup</br>
		speedrun_meowkatoz2</br>
		speedrun_meowkatoz_b1</br>
</body>
</html>